Checks: bugprone-*,
clang-analyzer-*,
cppcoreguidelines-*,
modernize-*,
performance-*,
portability-*,
readability-*,
-readability-magic-numbers,
-cppcoreguidelines-avoid-magic-numbers,
-readability-braces-around-statements,
-readability-else-after-return,
-modernize-use-trailing-return-type,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-modernize-use-using,
-misc-definitions-in-headers,
